h1{
    color: blue;
}

h4{
    color: green;
}

h3{
    text-decoration: underline;
}

p{
    color: green;
}

.Emma{
    color: green;
}

li{
    color: red;
}

#Ola{
border: 4px solid;
border-color: green;
}

img{
    width: 160px;
    height: 200px;
}